[Unit]
Description=Runs distrobox brew container at start

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox enter brew-container
RemainAfterExit=true

[Install]
WantedBy=default.target
